# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Node / Angular
node_modules/
.angular/
dist/

# Compilaciones (Arduino / otros)
build/

# Archivos de bloqueo de Office
~$*

# Sistema
.DS_Store
Thumbs.db
